@import '../../styles/variables.css';

.blogPost {
    width: 100%;
    overflow-x: hidden;
}

.post {
    padding: 20px;
}

.readMore {
    max-width: 900px;
    margin:auto;
    margin-bottom: 45px;
}

.readMore h2 {
    text-align: center;
}

.readMore h2:before,
.readMore h2:after {
  background-color: #000;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;
}

.readMore h2:before {
  right: 0.5em;
  margin-left: -50%;
}

.readMore h2:after {
  left: 0.5em;
  margin-right: -50%;
}
  

@media (min-width: 550px) {
    .post {
        margin: 60px auto;
        max-width: 500px;
    }

    .readMore {
        margin-bottom: 95px;
    }
}