:root {
    --color-pure-black:black;
    --color-black:#221E22;
    --color-grey:#7E7F83;
    --color-white:#FFFFFF;
    --color-off-white: #F3F7F8;
    --color-light-blue: #f7fcff; 
    --color-blue: #7CB4B8; 
    --color-orange: #ea9f5e;
    --color-brown: #6b5858;
    --font-color-primary: var(--color-brown);
    --font-color-secondary: var(--color-white);
    --font-color-dark: var(--color-black);
    --hover-color: var(--color-orange);
    --hover-color-secondary: var(--color-light-blue);
    --background-color: var(--color-off-white);
    --background-color-secondary: var(--color-white);
    --button-color-primary: var(--color-orange);
    --heading-color-primary: var(--color-brown);
    --heading-color-secondary: var(--color-light-blue);
    --heading-color-light: var(--color-white);
    --link-color-light: var(--color-white);
    --link-color-light-hover: var(--color-orange);
    --nav-link: var(--color-brown);
}
