@import '../../styles/variables.css';

.card {
  animation: fadeIn 1s ease-in;
  position: relative;
  border: solid 1px #979797;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.5);
}

.cardText {
  padding: 10px 20px;
  text-align: left;
}

.cardImage {
  width: 100%;
  max-width: 855px;
  max-height: 380px;
  transition: all 0.45s ease-in-out;
}

@media (min-width: 63rem) {
  .cardImage {
    height: 251px;
    width: 441px;
  }
}

.cardLink {
  display: block;
  cursor: pointer;
  color: var(--font-color-dark);
  height: 100%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 100;
  }
}
