@import '../../styles/variables.css';

.columnLayout {
    display: grid;
    background-color:var(--background-color);
    margin-bottom: 56px;
    justify-content: center;
    overflow-x:hidden;
}

.column {
    padding:0% 15%;
}


h1 {    
    padding-top:40px;
    font-size: 2.2rem;
    color: var(--heading-color-secondary);
}


@media (min-width: 62rem) {
    .columnLayout {
        padding-left: 85px;
        padding-right: 85px;
    }
    .columnLayout {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .column {
        margin: auto;
    }
}