@import '../../styles/variables.css';

.columnLayout {
  display: grid;
  margin-bottom: 56px;
  justify-content: center;
  overflow-x: hidden;
}

.columnLayout section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 40px;
  align-self: flex-start;
}

.column {
  padding: 0% 5%;
}

.columnLayout img {
  width: 70%;
  margin: 0 auto;
}

@media (min-width: 62rem) {
  .columnLayout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .column {
    margin: 0 auto;
  }
  .columnLayout img {
    width: 80%;
  }
}
