@import '../../styles/variables.css';

.cardGroup-container {
  background: var(--background-color-secondary);
  max-width: 1200px;
  margin: auto;
}

.cardGroup-container[data-variant='true'] {
  max-width: 900px;
}

.cardGroup {
  margin: 0 auto 20px auto;
  display: grid;
  grid-gap: 2rem;
  padding: 0 20px;
  justify-items: center;
}

@media (min-width: 63rem) {
  .cardGroup {
    grid-template-columns: repeat(3, 1fr);
    padding: 0 85px;
    min-width: 442px;
  }

  .cardGroup[data-variant='true'] {
    grid-template-columns: repeat(2, minmax(200px, 1fr));
    padding: 0px;
  }

  .cardGroup[data-variant='true'] > div {
    min-height: 369px;
  }

  .cardGroup[data-variant='true'] > img {
    min-height: 248px;
  }
}
